<% _.each(items, function(v, k) { %>
<div class="col-xs-4">
    <div class="radio">
        <label>
            <input id="type-<%= k %>" name="type" class="gadget" data-type="<%= k %>"
                   type="radio"> <%= v.name %>
        </label>
    </div>
</div>
<% }); %>