<button class="btn<% fullwidth != false ? print(' btn-block') : '' %><% size != '' ? print(' ' + size) : '' %><% type != '' ? print(' ' + type) : '' %>">
    <% if (iconplacement != 'right') {
        icon != '' ? print('<span class="' + icon + '"></span> ') : null
    } %><%= name %><% if (iconplacement == 'right') {
        icon != '' ? print(' <span class="' + icon + '"></span>') : null
    } %>
</button>