<ul class="nav nav-pills">
    <li role="presentation"><a href="#"><%= name %></a></li>
    <li role="presentation" class="active"><a href="#">Active</a></li>
    <li role="presentation" class="disabled"><a href="#">Disabled</a></li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
            Dropdown <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </li>
</ul>