@import "variables";
@import "mixins";

.no-bottom {
    margin-bottom: 0;
}

#button {
    & > .progress,
    & > .list-group,
    & > .jumbotron,
    & > .panel,
    & > .panel-group,
    & > .breadcrumb,
    & > .well,
    & > h3,
    & > nav,
    & > nav .pagination,
    & > nav .pager,
    & > .page-header,
    & > .row .thumbnail,
    & > .alert {
        margin-bottom: 0;
    }

    & > h3,
    & > .page-header,
    & > .page-header h1,
    & > nav .pager,
    & > nav .pagination {
        margin-top: 0;
    }
}

#tab-settings {
    select {
        color: black;
    }
}

.bs-icons {
    a {
        width: 4%;
    }
}